I need to fix the weather import to pull in from the DB

In [1]:
################################################################################
## Imports
################################################################################
import zipfile
import pandas as pd
import datetime
import sqlite3

# Import Data

In [96]:
#Import directly from CSV and return a DataFrame.
census_df = pd.read_csv('../data/census-data/FinalBlockGroupData.csv')
census_df.head()

,Unnamed: 0,TotalPop,TPopMargin,UnWgtSampleCtPop,PerCapitaIncome,PerCapIncMargin,MedianHouseholdInc,MedHouseholdIncMargin,MedianAge,MedianAgeMargin,HousingUnits,HousingUnitsMargin,UnweightedSampleHousingUnits,State,County,Tract,BlockGroup,Year
0,0,1297.0,347.0,65.0,93642.0,28468.0,79118.0,44433.0,43.6,5.4,764.0,121.0,44.0,11,1,100,1,2009
1,1,1340.0,211.0,75.0,97506.0,18142.0,101853.0,48195.0,51.9,6.1,1056.0,128.0,54.0,11,1,100,2,2009
2,2,838.0,306.0,47.0,143164.0,71282.0,141179.0,110682.0,39.2,9.4,474.0,115.0,28.0,11,1,100,4,2009
3,3,1226.0,277.0,63.0,120569.0,36279.0,218333.0,111599.0,39.8,7.1,627.0,101.0,34.0,11,1,100,5,2009
4,4,3598.0,707.0,247.0,8189.0,4893.0,119722.0,53241.0,19.4,0.3,80.0,35.0,6.0,11,1,201,1,2009

In [6]:
#Import the weather data by accessing DB table.
conn = sqlite3.connect('../data/weather-data/weather_data.db')
c = conn.cursor()
weather_df = pd.read_sql('''select * from weather_data''', conn)
weather_df.head()

,index,code,currently_apparentTemperature,currently_cloudCover,currently_dewPoint,currently_humidity,currently_icon,currently_precipIntensity,currently_precipProbability,currently_precipType,...,currently_temperature,currently_time,currently_uvIndex,currently_visibility,currently_windBearing,currently_windGust,currently_windSpeed,error,latitude,longitude
0,0,NaN,43.43,1.00,30.60,0.54,cloudy,0.0000,0.00,None,...,46.54,1.238405e+09,0.0,6.28,294.0,15.25,6.22,None,38.905255,-77.052353
1,1,NaN,57.10,0.17,29.94,0.35,clear-day,0.0000,0.00,None,...,57.10,1.238444e+09,3.0,5.15,311.0,19.51,8.43,None,38.906430,-77.062857
2,2,NaN,56.44,0.12,30.33,0.37,clear-day,0.0000,0.00,None,...,56.44,1.238447e+09,2.0,4.79,308.0,18.43,8.11,None,38.961971,-77.027957
3,3,NaN,47.90,1.00,47.40,0.98,fog,0.0019,0.32,rain,...,47.90,1.238324e+09,0.0,1.18,65.0,2.65,0.72,None,38.939032,-77.076820
4,4,NaN,55.91,0.06,30.21,0.37,clear-day,0.0000,0.00,None,...,55.91,1.238453e+09,0.0,4.71,313.0,16.67,7.44,None,38.901545,-76.979941

In [8]:
#Import the crime data by unpacking the ZIP file, converting to CSV, then returning DataFrame.
crime_zip = zipfile.ZipFile("../data/dc-crime-data/dc-crime-data.csv.zip", mode='r')
crime_csv = crime_zip.open('dc-crime-data.csv')
crime_df = pd.read_csv(crime_csv)
crime_df.head()

,NEIGHBORHOOD_CLUSTER,CENSUS_TRACT,offensegroup,LONGITUDE,END_DATE,offense-text,SHIFT,YBLOCK,DISTRICT,WARD,...,BLOCK,START_DATE,CCN,OFFENSE,OCTO_RECORD_ID,ANC,REPORT_DAT,METHOD,location,LATITUDE
0,cluster 5,5500.0,property,-77.052353,2009-03-30T15:50:00.000,theft/other,evening,137490.0,2.0,2.0,...,2400 - 2499 block of m street nw,2009-03-30T05:30:00.000,9041857,theft/other,09041857-01,2A,2009-03-30T20:40:00.000Z,others,"38.905263228683658,-77.052355683742746",38.905255
1,cluster 4,202.0,property,-77.062857,2009-03-30T16:30:00.000,theft/other,evening,137621.0,2.0,2.0,...,1224 - 1299 block of wisconsin avenue nw,2009-03-30T16:20:00.000,9041858,theft/other,09041858-01,2E,2009-03-30T20:34:00.000Z,others,"38.906438143434897,-77.062859682010298",38.906430
2,cluster 17,1804.0,violent,-77.027957,2009-03-30T00:00:00.000,robbery,evening,143785.0,4.0,4.0,...,5900 - 5999 block of georgia avenue nw,2009-03-30T17:00:00.000,9041900,robbery,09041900-01,4A,2009-03-30T21:42:00.000Z,others,"38.961978891670213,-77.027959395242561",38.961971
3,cluster 14,1002.0,property,-77.076820,2009-03-30T07:30:00.000,motor vehicle theft,evening,141241.0,2.0,3.0,...,3810 - 3899 block of rodman street nw,2009-03-29T07:00:00.000,9041916,motor vehicle theft,09041916-01,3C,2009-03-30T22:52:00.000Z,others,"38.939039936788873,-77.076822116815663",38.939032
4,cluster 23,8904.0,property,-76.979941,2009-03-30T20:30:00.000,theft/other,evening,137077.0,5.0,5.0,...,1600 - 1699 block of maryland avenue ne,2009-03-30T18:40:00.000,9041927,theft/other,09041927-01,5D,2009-03-30T22:40:00.000Z,others,"38.901552788657312,-76.979942787227358",38.901545

# Wrangle Data

### Weather Data

In [9]:
def convertTime(row):
    time = datetime.datetime.fromtimestamp(row).strftime('%Y-%m-%dT%H:%M:%S.000')

    return time

#There are negative time values that must be removed.
weather_df = weather_df[weather_df['currently_time'] > 0]

#Convert time to format shared by crime data.
weather_df['crime_time'] = weather_df['currently_time'].apply(convertTime)

#Rename and drop columns.
rename = dict(currently_apparentTemperature = 'apparent_temp',
currently_cloudCover = 'cloud_cover',
currently_dewPoint = 'dew_point',
currently_humidity = 'humidity',
currently_icon = 'icon',
currently_precipIntensity = 'percip_intensity',
currently_precipProbability = 'percip_probability',
currently_precipType = 'percip_type',
urrently_pressure = 'pressure',
currently_summary = 'summary',
currently_temperature = 'temperature',
currently_time = 'time',
currently_uvIndex = 'uv_index',
currently_visibility = 'visibility',
currently_windBearing = 'wind_bearing',
currently_windGust = 'wind_gust',
currently_windSpeed = 'wind_speed',
latitude = 'weather_latitude',
longitude = 'weather_longitude')

weather_df.rename(columns=rename, inplace=True)
weather_df.drop(labels=['index','code'],axis='columns', inplace=True)

In [79]:
weather_df.loc[weather_df['weather_latitude'].isnull()]

Empty DataFrame
Columns: [apparent_temp, cloud_cover, dew_point, humidity, icon, percip_intensity, percip_probability, percip_type, currently_pressure, summary, temperature, time, uv_index, visibility, wind_bearing, wind_gust, wind_speed, error, weather_latitude, weather_longitude, crime_time]
Index: []

[0 rows x 21 columns]

In [81]:
weather_df.loc[weather_df['weather_longitude'].isnull()]

Empty DataFrame
Columns: [apparent_temp, cloud_cover, dew_point, humidity, icon, percip_intensity, percip_probability, percip_type, currently_pressure, summary, temperature, time, uv_index, visibility, wind_bearing, wind_gust, wind_speed, error, weather_latitude, weather_longitude, crime_time]
Index: []

[0 rows x 21 columns]

In [80]:
weather_df.loc[weather_df['crime_time'].isnull()]

Empty DataFrame
Columns: [apparent_temp, cloud_cover, dew_point, humidity, icon, percip_intensity, percip_probability, percip_type, currently_pressure, summary, temperature, time, uv_index, visibility, wind_bearing, wind_gust, wind_speed, error, weather_latitude, weather_longitude, crime_time]
Index: []

[0 rows x 21 columns]

### Census Data

In [97]:
#Fill NA values and values less than 0 with the mean of values greater than zero.
columns = ['TotalPop','TPopMargin','UnWgtSampleCtPop','PerCapitaIncome','PerCapIncMargin','MedianHouseholdInc',
'MedHouseholdIncMargin','MedianAge','MedianAgeMargin','HousingUnits','HousingUnitsMargin',
'UnweightedSampleHousingUnits']

for col in columns:
    #Calculate Mean
    mean = census_df[census_df[col] > 0][col].mean()

    #Fill NA with a dictionary of column name and the mean value
    census_df.fillna(value={col: mean}, inplace=True)

    #Replace values less than zero with the mean.
    census_df[census_df[col] < 0] = mean

#Convert columns to format reflected in crime data.
census_df['BlockGroup'] = census_df['BlockGroup'].astype(str).replace(']]', '', regex=True)
census_df['BlockGroup'] = census_df['BlockGroup'].astype(str).replace('\.0', '', regex=True)
census_df['Tract'] = census_df['Tract'].astype(str).replace('\.0', '', regex=True)
census_df['Tract'] = census_df['Tract'].apply(lambda x: x.zfill(6))
census_df['Year_Census'] = census_df['Year'].astype(str).replace('\.0', '', regex=True)
census_df_nodup.drop(labels=['Unnamed: 0','Year'], axis='columns', inplace=True)

#Create an index to merge with crime data.
census_df['index'] = census_df['Tract'] + " " + census_df['BlockGroup'] + " " + census_df['Year_Census']
census_df_nodup = census_df.drop_duplicates(subset='index')

### Crime Data

In [11]:
crime_df['YEAR'] = crime_df['YEAR'].astype(str)
crime_df['BLOCK_GROUP'] = crime_df['BLOCK_GROUP'].astype(str)
crime_df['index'] = crime_df['BLOCK_GROUP'] + " " + crime_df['YEAR']

# Merge Data

### Weather and Crime

In [53]:
print(len(weather_df), len(crime_df), len(weather_df) - len(crime_df))

380036 381067 -1031

In [55]:
len(crime_df['START_DATE'].loc[crime_df['START_DATE'].isnull()])

13

In [57]:
crime_df['START_DATE'].str[:4].value_counts().sort_index()

1800        1
1912        2
1914        1
1915        6
1916        6
1974        1
1980        1
1981        1
1985        2
1991        1
1993        1
1997        1
1999        3
2000       39
2001        9
2002        5
2003        5
2004       12
2005       15
2006       27
2007      305
2008    34172
2009    31236
2010    31673
2011    33319
2012    35194
2013    35863
2014    38337
2015    37325
2016    37141
2017    32995
2018    33355
Name: START_DATE, dtype: int64

In [67]:
len(crime_df[['LATITUDE','LONGITUDE','START_DATE']].drop_duplicates())

380063

In [85]:
len(weather_df[['weather_latitude','weather_longitude','crime_time']])

380036

In [84]:
len(weather_df[['weather_latitude','weather_longitude','crime_time']]) == \
len(weather_df[['weather_latitude','weather_longitude','crime_time']].drop_duplicates())

True

In [89]:
crime_weather_mr = crime_df.merge(weather_df,
                      how='left',
                      left_on=['LATITUDE','LONGITUDE','START_DATE'],
                      right_on=['weather_latitude','weather_longitude','crime_time'])

In [103]:
len(crime_weather_mr.loc[test['weather_latitude'].isnull()])

40

In [100]:
crime_weather_census_mr = crime_weather_mr.merge(census_df_nodup, 
                                                 how='left',
                                                 on='index',
                                                 indicator=True)

In [102]:
len(crime_weather_census_mr.loc[crime_weather_census_mr['BlockGroup'].isnull(), 'START_DATE'])

91901

### Create DB Link

In [ ]:
conn = sqlite3.connect('crime_census_weather.db')
df.to_sql('crime_census_weather', conn)